@import "../utilities/_variables"

.app-container
  position: absolute
  margin: auto
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 900px
  height: 650px
  border: $primaryColor 5px solid
  overflow: hidden
  overflow-y: scroll

.comment-box-container
  float: left
  width: 450px
  height: 100%
  position: fixed




.comment-list-container
  float: right
  width: 449px
  height: 100%



